.form {

    &__input-name {
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        background: transparent;
        padding: 16px 0;
        outline: none;
        font-size: 1.146vw;
    }

    &__email-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 48px;

        input {
            width: 31.458vw;
            max-width: 704px;
            border: none;
            border-bottom: 1px solid black;
            background: transparent;
            padding: 16px 0;
            outline: none;
            font-size: 1.146vw;
        }
    }

    &__img {
        display: flex;
        align-items: center;
        gap: 6px;

        p {
            font-size: 0.938vw;
            font-weight: 300;
        }

        img {
            width: 0.625vw;
            height: 1.458vw;
        }
    }

    &__text-container {
        margin-top: 48px;
    }

    &__input-text {
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        background: transparent;
        padding: 16px 0;
        outline: none;
        font-size: 1.146vw;
    }

    &__button-container {
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
        font-weight: 800;
        font-size: 1.575vw;
        width: 34.896vw;
        text-transform: uppercase;
        cursor: pointer;
        transition: .5s ease-in-out;
        height: 4.688vw;
        padding: 22.5px 0;

        svg {
            width: 3.646vw;
            height: 3.646vw;
            transition: .5s ease-in-out;
        }

        p {
            margin: 0;
        }

        &:hover {
            background-color: var(--color-brand-ligth);
            color: var(--color-white);
            border-bottom: none;
            padding: 22.5px 10px 22.5px 16px;
            transition: background-color, color, padding, .5s ease-in-out;
             
            svg {
                transform: rotate(15deg);
                transition: transform .5s ease-in-out;
            }

            path {
                fill: var(--color-white);
            }
            
            
            path:nth-child(3){
                fill: var(--primary-color);         
                }
            
            path:nth-child(4){
                fill: var(--primary-color);         
                }
            
            path:nth-child(5){
                fill: var(--primary-color);         
                }
        }

        &:active {
            background-color: var(--color-brand-dark);
            color: var(--color-white)
        }
    }
}