.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    transform: translateX(100%);
    transition: transform 0.3s;
    z-index: 5000;
    overflow: hidden;
    background-color: var(--primary-color);

    @media screen and (min-width: $bp-header) {
        display: none;
    }

    &.is-open {
        transform: translate(0);
       }
   

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid var(--color-white);
        background-color: var(--primary-color);
    }

    &__btn-close {
        background-color: transparent;
        border: none;
        cursor: pointer;

        svg {
            fill: var(--color-white);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 32px 0;
        padding: 0;
        font-size: 5.625vw;
        font-weight: 800;
        font-family: "Manrope", sans-selif;
    }

    &__link {
        text-decoration: none;
        color: var(--color-white);
        text-transform: uppercase;
    }

    &__footer {
        width: 100%;
    }

    &__lang-button {
        display: flex;
        margin-top: 60px;

        p {
            color: var(--button-default-color);
        }

        button {
            background-color: transparent;
            border: none;
            font-weight: 800;
            font-size: 20px;

            &.active {
                color: var(--color-brand-ligth);
            }

            &.default {
                color: var(--button-default-color);
            }

            &:hover {
                cursor: pointer;

                &.default {
                    color: var(--primary-color);
                }
            }

            &:active {
                &.default {
                    color: var(--color-brand-ligth);
                }
            }
        }
    }
}