:root{
    --primary-color: #0A0A0A;
    --color-brand-ligth: #FF3400;
    --color-brand-dark: #991f00;
    --color-white: #FAFAFA;
    --color-footer: #D6D6D6;
    --button-default-color: #A3A3A3;
    --color-border-input: #FF3800;
    --color-contact-info: #707070;
    --color-span-mobile: #FFAE99;
}

$bp-mobile: 768px;
$bp-header: 968px;