.about-section {
    padding: 60px 0 164px;
    background-color: var(--primary-color);
    position: relative;
    z-index: 30;

    @media screen and (min-width:$bp-mobile) {
        padding: 64px 0 263px;
    }

    &__container {
        display: block;
        @media screen and (min-width:$bp-mobile) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__animation-text {
            display: flex;
            align-items: center;
            color: var(--color-white);
            gap: 12px;
            font-weight: 500;
            font-size: 3.333vw;

        @media screen and (min-width:$bp-mobile) {
            font-size: 1.458vw;
        }

        p {
            margin: 0;
            white-space: nowrap;
        }
    }

    &__title {
        color: var(--button-default-color);
        font-weight: 500;
        font-size: 7.5vw;
        margin:8.333vw 0 0 43.75vw;
        max-width: 277px;

        @media screen and (min-width:$bp-mobile) {
            font-size: 3.125vw;
            margin: 0;
            max-width: max-content;
            margin-right: 12.5vw;
        
        }
    }

    &__text {
        color: var(--button-default-color);
        font-weight: 500;
        font-size: 7.5vw;
        margin: 0;

        span {
            font-size: 7.5vw;
        }

        @media screen and (min-width:$bp-mobile) {
        font-size: 3.125vw;

        span {
            font-size: 3.333vw;
            color: var(--color-brand-ligth);
        }
    }
}

    &__diveder {
        width: 100%;
        height: 100%;
        max-width: 7px;
        max-height: 16px;

        @media screen and (min-width:$bp-mobile) {
        max-height: 28px;
        max-width: 12px;
        }
    }
}