.animation-section {
    background-color: var(--color-brand-ligth);
    height: 100%;
    position: relative;
    // z-index: 20;

    img {
        max-width: 11.198vw;
        max-height: 11.198vw;
    }

    &__block-container {
        max-height: 502px;
        height: 100%;
        background-color: var(--color-brand-ligth);
        position: relative;
    }

    &__pixel {
        position: relative;
        z-index: 101;
    }
    

    &__block-pixel {
        width: 25.573vw;
        height: 26.979vw;
    }

    &__block-img {
        width: 11.25vw;
        height: 11.25vw;
    }

    &__group1 {
        display: flex;
        align-items: end;
        justify-content: flex-end;
        margin-right: 1.246vw;   
        margin-bottom: -17vw;
    }

    &__group2 {
        display: flex;
        display: flex;
        align-items: end;
        gap: 1.51vw;
    }

    &__group3 {
        display: flex;
        align-items: end;
        justify-content: center;
        gap: 1.1vw;
        }

    .gr2el1 {
        margin-bottom: -16vw;
    }  
    .gr2el2 {
        margin-right: 2.448vw;
        margin-bottom: 1vw;
    }  
    .gr2el4 {
        margin-bottom: -12.3vw;
    }

    .gr3el1,
    .gr3el3 {
        margin-bottom: 1.302vw;
    } 
    .gr3el2 {
        margin-bottom: -5.8vw;
    }   
    .gr3el4 {
        margin-bottom: -1.7vw;
    }  
}
