.case-section {

    padding: 124px 0;

    &__title {
        display: flex;
        align-items: flex-end;
        font-weight: 500;
        font-size: 15.417vw;
        white-space: nowrap;
        width: 100%;

        p {
            display: none;
        }

        img{
            margin-bottom: 2vw;
            width: 100%;
            height: 100%;
            max-width: 9px;
            max-height: 21px;
        }

        span {
            color: var(--color-brand-ligth);
        }
        @media screen and (min-width:$bp-mobile) {
            font-size: 8.333vw;
            width: max-content;

            p {
                display: block;
                margin-left: 2vw;
            }

            img{
                margin-bottom: 1vw;
            }
        }


    }

    &__title-el2 {
        display: none;

        @media screen and (min-width:$bp-mobile) {
            display: flex;
            flex-wrap: nowrap;
            font-size: 5.208vw;;
            font-weight: 500;
            margin-bottom: 124px;
            margin-top: 0;
            justify-content: flex-end;
        }
    }

    &__title-el2-mb {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 12px;
        font-size: 8.182vw;

        @media screen and (min-width:$bp-mobile) {
            display: none;
        }
    }
    
    &__span-container {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;

        @media screen and (min-width:$bp-mobile) {
            gap: 24px;
            flex-direction: row;
        }
    }

    &__animation-text {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 1.146vw;
        font-weight: 500;
        font-size: 3.333vw;
        text-transform: uppercase;
        color: var(--button-default-color);
        width: 100%;
        justify-content: flex-end;

        img {
            width: 100%;
            height: 100%;
            max-width: 7px;
            max-height: 16px;
        }

        p {
            white-space: nowrap;
        }
        @media screen and (min-width:$bp-mobile) {
            font-size: 1.146vw;
            justify-content: flex-start;

            img {
                max-width: 12px;
                max-height: 28px;
            }
        }

    }

    &__content-container {
        display: none;

        @media screen and (min-width:$bp-mobile) {
        display: flex;
        gap: 0.625vw;
        margin-bottom: 3.333vw;
        }
    }

    &__text-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text-content {
        h2 {
            font-size: 1.875vw;
            font-weight: 800;
            font-family: 'Manrope', sans-serif;
        }

        p {
            font-weight: 500;
            font-size: 1.146vw;
            margin-right: 12.656vw;
        }
    }

    &__span-name {
        font-weight: 500;
        font-size: 1.458vw;
        color: var(--color-brand-ligth);
    }

    &__img-block {
        img {
            width: 49.323vw;
            height: 29.479vw;
        }
    }

    &__button {
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 1.667vw;
        text-transform: uppercase;
        align-items: center;
        cursor: pointer;
        max-height: 3.542vw;
        text-decoration: none;
        color: var(--primary-color);
        transition: .5s ease-in-out;

        svg {
            transition: .5s ease-in-out;
        }

        &:hover {
            background-color: var(--color-brand-ligth);
            color: var(--color-white);
            padding: 0 0 0 15px;
            border-bottom: none;
            transition: background, color, padding, .5s ease-in-out;
             
            svg {
                transform: rotate(15deg);
                transition: transform .5s ease-in-out;
            }

            path:nth-child(3){
                fill: var(--color-white);         
            }

            path:nth-child(4){
                fill: var(--color-white);         
            }

            path:nth-child(5){
                fill: var(--color-white);         
            }
        }

    }

    &__mobile-element {
        display: block;
    
        @media screen and (min-width:$bp-mobile) {
            display: none;
        }
    }

    &__arrow {
        width: 2.708vw;
        height: 2.708vw;
    }

    &__list {
        display: none;

        @media screen and (min-width:$bp-mobile) {
        display: flex;
        // gap: 10px;
        padding: 0;
        justify-content: space-between;
        flex-wrap: wrap;
        }
    }

    &__item-number {
        display: flex;
        align-items: center;
        margin-bottom: 0.573vw;

        img {
            max-height: 1.667vw;
        }

        p {
            margin: 0;
        }
    }

    &__item {
        cursor: pointer;
        filter: opacity(0.4);

        &:hover {
            filter: opacity(1);
            transition: filter .3s ease-in-out;
        }
    }

    .card1 {
        background: url('/src/assets/img-case-1.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 17.656vw;
        height: 13.281vw;
    }
    .card2 {
        background: url('/src/assets/card2.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 17.656vw;
        height: 13.281vw;
    }
    .card3 {
        background: url('/src/assets/card3.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 17.656vw;
        height: 13.281vw;
    }
    .card4 {
        background: url('/src/assets/card4.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 17.656vw;
        height: 13.281vw;
    }
    .card5 {
        background: url('/src/assets/card5.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 17.656vw;
        height: 13.281vw;
    }

    .active {
        filter: opacity(1);
    }   
}