.footer {
    background-color: var(--primary-color);
    padding: 0;
    position: relative;
    z-index: 300;
    margin-top: -1px;

    @media screen and (min-width:$bp-mobile) {
        padding-top: 164px;
    }

    &__content-container {
        display: block;

        @media screen and (min-width: $bp-mobile) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-bottom: 64px;
        }
    }

    &__menu {
        margin: 40px 48px 40px 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: flex-end;

        @media screen and (min-width:$bp-mobile) {
            flex-direction: row;
            margin: 0;
            gap: 4.479vw;
            align-items: center;
        }
    }

    &__link {
        text-decoration: none;
        color: var(--color-footer);
        font-size: 3.75vw;
        font-weight: 500;

        &:hover {
            color: var(--color-white);
            transition: color .3s ease-in-out;
        }

        @media screen and (min-width:$bp-mobile) {
            font-size: 1.146vw;
        }
    }

    &__link-email {
        margin-bottom: 24px;
        text-align: center;

        a {
            text-decoration: none;
            font-size: 5.625vw;
            font-weight: 600;
            color: var(--color-white);
            text-transform: uppercase;

            &:hover {
                color: var(--color-brand-ligth);
                transition: color .3s ease-in-out;
            }
        }

        @media screen and (min-width:$bp-mobile) {
            margin-bottom: 40px;
            text-align: start;

            a {
                font-size: 1.354vw;
            }
        }
    }

    &__link-social {
        display: flex;
        gap: 32px;
        justify-content: end;
        margin-right: 44px;

        a {
            text-decoration: none;
            font-size: 3.333vw;
            font-weight: 400;
            color: var(--color-white);
            text-transform: uppercase;

            &:hover {
                color: var(--color-brand-ligth);
                transition: color .3s ease-in-out;
            }
        }

        @media screen and (min-width:$bp-mobile) {
            justify-content: start;

            a {
                font-size: 1.146vw;
            }
        }
    }

    &__policy-container {
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--color-footer);
        padding-top: 16px;
        gap: 16px;
        text-transform: uppercase;

        p {
            font-size: 3.333vw;
            font-weight: 400;
            color: var(--color-footer);
        }

        @media screen and (min-width:$bp-mobile) {
            justify-content: space-between;
            flex-direction: row;
            gap: 0;
            align-items: center;
            text-transform: none;
            p {
                font-size: 1.146vw;
            }

        }
    }

    &__policy-link {
        display: flex;
        gap: 8.125vw;
        justify-content: flex-end;

        a {
            text-decoration: none;
            font-size: 3.333vw;
            font-weight: 400;
            color: var(--color-footer);

            &:hover {
                color: var(--color-white);
                transition: color .3s ease-in-out;
            }
        }

        @media screen and (min-width:$bp-mobile) {
            gap: 16.719vw;
            justify-content: space-between;
            width: 29.844vw;

            a {
                font-size: 0.9vw;
            }
        }

        
    }

    &__bg {
        padding-top: 100px;
    }

    &__social-container {
        margin-top: -1px;
    }

    &__logo {
        display: none;

        @media screen and (min-width:$bp-mobile) {
            display: block;
        }
    }

    &__logo-mb {
        display: block;
        width: 100%;
        height: 100%;

        @media screen and (min-width:$bp-mobile) {
            display: none;
        }
    }
}