.header {
    position: sticky;
    top: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 1200;
    background: var(--color-white);
    border-bottom: 1px solid black; 

    &.no-border {
        border-bottom: none; 
    }

    &__logo {
        cursor: pointer;
        width: 104px;
        height: 28px;
    }

    &__container {
        display: flex;
        padding: 20px 0;
        width: 100%;
        justify-content: space-between;
    }

    &__menu {
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 1.146vw;
        gap: 48px;
        margin: 0 0 0 10px;
        padding: 0;
    }

    &__button {
        display: flex;
        gap: 32px;
        background-color: transparent;
        text-transform: uppercase;
        border: none;
        font-weight: 600;
        font-size: 1.146vw;
        align-items: center;
        cursor: pointer;
        color: var(--primary-color);
        text-decoration: none;
        transition: .5s ease-in-out;

        svg {
            transition: .5s ease-in-out;
        }

        &:hover {
            color: var(--color-brand-ligth);
            transition: color .5s ease-in-out;

            svg {
                transform: rotate(20deg);
                transition: transform .5s ease-in-out;
            }
        }

        &:active {
            color: var(--color-brand-dark);
        }
    }

    &__lang-button {
        display: flex;

        p {
            color: var(--button-default-color);
        }

        button {
            background-color: transparent;
            border: none;
            font-weight: 800;
            font-size: 1.146vw;

            &.active {
                color: var(--color-brand-ligth);
            }

            &.default {
                color: var(--button-default-color);
            }

            &:hover {
                cursor: pointer;

                &.default {
                    color: var(--primary-color);
                }
            }

            &:active {
                &.default {
                    color: var(--color-brand-ligth);
                }
            }
        }
    }

    &__link {
        text-decoration-line: none;
        color: var(--primary-color);
        white-space: nowrap;
        font-weight: 500;
        transition: color .3s ease-in-out;

        &:hover {
            color: var(--color-brand-ligth);    
        }
    }

    &.show {
        transform: translateY(0); /* Шапка видна */
    }

    &.hide {
        transform: translateY(-100%); /* Шапка скрыта */
    }
}
